# Server Config
BACKEND_PORT=3000
JWT_SECRET=1234
BCRYPT_COST=10

# DB Details
MONGO_URI=mongodb://localhost:27017/stashkey

# S3 Details
BUCKET_NAME='stashkey'
BUCKET_REGION='ap-south-1'
ACCESS_KEY_ID= ABCD
SECRET_ACCESS_KEY= abcd
